<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="SourceSite" value="https://www.site1.com/subsite" />  <!-- This is the full url to site copying list items from-->
    <add key="SourceList" value="List Name" />  <!-- This is the name of the list copying list items from-->
    <add key="AttachmentLibrary" value = "subsite/Attachment Library" />
    <add key="SourceUserName" value="" />
    <add key="SourcePassword" value="" />
    <add key="SourceDomain" value="" />
    <add key="DestinationSite" value="" />
    <add key="DestinationLibrary" value="" />
    <add key="DestinationUserName" value="" />
    <add key="DestinationPassword" value="" />
    <add key="DestinationDomain" value="" />
  </appSettings>
</configuration>

